@model ClothingStore.Models.Category
<form id="frmCategory" class="category-form">

    <div class="form-row">

        <!-- Category Name -->
        <div class="form-group">
            <label asp-for="varName">Category Name</label>
            <input asp-for="varName" class="form-control" id="varName" />
        </div>

        <!-- Is Active -->
        <div class="form-group">

            <label>Status</label>

            <label class="switch">
                @Html.CheckBoxFor(model => model.IsActive, new { id = "chkIsActive" })
                <span class="slider"></span>
            </label>

 
        </div>

        <!-- Description -->
        <div class="form-group full-width">
            <label asp-for="varDescription">Description</label>
            <textarea asp-for="varDescription" id="varDescription"  rows="5" class="form-control"></textarea>
        </div>

    </div>

    <div class="form-footer">
        <button type="button" id="btnSave" onclick="AddCategory()" class="btn-save">
            <i class="fa-solid fa-floppy-disk"></i>
            Save Category
        </button>
    </div>

</form>